
@model CS3750P04.ViewModels.UserViewModel
@*
This specifies the model type that this view can take.
*@

@{
    ViewData["Title"] = "User";
    var user = Model.selectedUser;
    var group = Model.selectedGroup;
    var timeEntries = Model.timeEntries;
}

<h2>@user.FirstName @user.LastName (@group.GroupName)</h2>

<table>
        <tr>
            <th>Date</th>
            <th>In</th>
            <th>Out</th>
            <th>Duration</th>
            <th>Comment</th>
        </tr>
        @foreach (var te in timeEntries)
        {
            <tr>
                <td>@te.TimeStart.ToString("MM/dd/yy")</td>
                <td>@te.TimeStart.ToString("HH:mm")</td>
                <td>@(((DateTime)(te.TimeStop)).ToString("HH:mm"))</td>
                <td>@(((TimeSpan)(te.TimeStop - te.TimeStart)).ToString(@"hh\:mm"))</td>
                <td>@te.EntryComment</td>
            </tr>
        }
</table>